<h1 class="text-center">Encrypt with AES</h1>  
<div>  
  <div class="width:100px">  
    <div class=""> 
      <br>  
      <div class="form-group">  
        <label for="txtTextToConvert">Environment variable
        </label><br><br>
        <input type="text" class="form-control mt-1" placeholder="Environment variable" [(ngModel)]="plainText"><br><br>  
      </div>  
      <div class="form-group">  
        <label for="txtPassword">Encrypt Password</label><br><br>  
        <input type="password" class="form-control" placeholder="Encrypt password" [(ngModel)]="encPassword">  
      </div><br><br>
      <textarea class="form-control" readonly rows="3">{{conversionEncryptOutput}}</textarea>  
      <br><br>
      <button type="button" class="btn btn-success float-right" (click)="convertText('encrypt')">Encrypt</button>  
    </div>  
    <!-- <div class="col-sm-6"> 
      <br>  
      <div class="form-group">  
        <label for="txtTextToConvert">Encrypted Text</label>  
        <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="encryptText">  
      </div>  
  
      <div class="form-group">  
        <label for="txtPassword">Password</label>  
        <input type="password" class="form-control" placeholder="Enter decryption password" [(ngModel)]="decPassword">  
      </div>  
      <textarea class="form-control" readonly rows="3">{{conversionDecryptOutput}}</textarea>  
      <br>  
      <button type="button" class="btn btn-success float-right" (click)="convertText('decrypt')">Decrypt</button>  
    </div>  
  </div>   -->
</div>